.project-item {
  padding: 16px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.project-title {
  font-weight: bold; 
}

.project-description {
  margin-bottom: 10px;
  line-height: 1.4;  
}

.project-urls {
  margin-left: 10px;
}
